__pycache__/
.ipynb_checkpoints/
.env
*.sqlite
*.csv
config.py


a

# --- Python Cache ---
__pycache__/
*.pyc

# --- IDE/Editor Files ---
.vscode/
.idea/
*.swp

# --- Virtual Environment ---
# Ignore the virtual environment folder
venv/
.venv/
insurance_analytics_env/

# ...but DO NOT ignore the .dvc files and any potential .gitignore file inside.
Data/*
!Data/*.dvc
!Data/.gitignore